<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:aop="http://www.springframework.org/schema/aop"
 xmlns:tx="http://www.springframework.org/schema/tx"
 xsi:schemaLocation="http://www.springframework.org/schema/beans 
 http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
 http://www.springframework.org/schema/tx 
 http://www.springframework.org/schema/tx/spring-tx-3.0.xsd 
 http://www.springframework.org/schema/aop 
 http://www.springframework.org/schema/aop/spring-aop-3.0.xsd ">
	
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">       
	    <property name="location">
			<value>classpath:config.properties</value>
		</property>
	</bean>  
	   
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="driverClass" value="${jdbc.driverClassName}" />       
	    <property name="jdbcUrl" value="${jdbc.url}" />       
	    <property name="user" value="${jdbc.username}" />       
	    <property name="password" value="${jdbc.password}" />    
	    <property name="minPoolSize" value="2"/>
		<property name="maxPoolSize" value="5"/>
		<property name="maxIdleTime" value="20000"/>
		<property name="idleConnectionTestPeriod" value="1200"/>
    </bean>
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/> 
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">${jdbc.dialect}</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.batch">true</prop>
				<prop key="hibernate.jdbc.batch_size">20</prop>
			</props>
		</property>
		<!--  -->
		<property name="mappingDirectoryLocations">
			<value>classpath:com/classcourse/domain</value>
		</property>
		
		
	</bean>
	
	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<aop:aspectj-autoproxy proxy-target-class="true"/>
	<aop:config>
		<aop:pointcut id="allServiceMethod" expression="execution(* com.classcourse.service.*.*(..))" />
		<aop:aspect ref="aopUtil">
		 	<aop:pointcut expression="execution (* com.classcourse.dao.*.*(..))" id="allDaoPointcut"/>
			<aop:pointcut expression="execution (* com.classcourse.service.*.*(..))" id="allServicePointcut"/>
			<aop:pointcut expression="execution (* com.classcourse.action.*.*(..))" id="allActionPointcut"/> 
				<!-- 错误日志, 记录ACTION层抛出的异常  -->
			<aop:after-throwing method="errorLog" pointcut-ref="allActionPointcut" throwing="e"/>
		</aop:aspect>
	</aop:config>	
	
	<bean id="aopUtil" class="com.classcourse.common.AopUtil">
	<property name="hibernateTemplate" ref="hibernateTemplate"></property>
	</bean>
	<bean id="baseDao" class="com.classcourse.dao.BaseDao">
		<property name="hibernateTemplate" ref="hibernateTemplate"></property>
	</bean>
	<bean id="studentDao" class="com.classcourse.dao.impl.StudentDaoImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate"></property>
	</bean>
	<bean id="teacherDao" class="com.classcourse.dao.impl.TeacherDaoImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate"></property>
	</bean>
	<bean id="courseDao" class="com.classcourse.dao.impl.CourseDaoImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate"></property>
	</bean>
	<bean id="syllabusDao" class="com.classcourse.dao.impl.SyllabusDaoImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate"></property>
	</bean>
	<bean id="classRoomDao" class="com.classcourse.dao.impl.ClassRoomDaoImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate"></property>
	</bean>
						<!-- service -->
	<bean id="syllabusService" class="com.classcourse.service.impl.SyllabusServiceImpl">
		<property name="courseDao" ref="courseDao"></property>
		<property name="syllabusDao" ref="syllabusDao"></property>
	</bean>
	<bean id="studentService" class="com.classcourse.service.impl.StudentServiceImpl"> 
		<property name="studentDao" ref="studentDao"></property>	
	</bean>
	<bean id="teacherService" class="com.classcourse.service.impl.TeacherServiceImpl"> 
		<property name="teacherDao" ref="teacherDao"></property>
	</bean>
	<bean id="adminService" class="com.classcourse.service.impl.AdminServiceImpl"> 
		<property name="studentDao" ref="studentDao"></property>
		<property name="teacherDao" ref="teacherDao"></property>
		<property name="courseDao" ref="courseDao"></property>
		<property name="syllabusDao" ref="syllabusDao"></property>
	</bean>
					<!-- action -->
	<bean id="studentAction" class="com.classcourse.action.StudentAction" scope="prototype">
		<property name="studentService" ref="studentService"></property>
		<property name="syllabusService" ref="syllabusService"></property>
	</bean>
	<bean id="teacherAction" class="com.classcourse.action.TeacherAction" scope="prototype">
		<property name="teacherService" ref="teacherService"></property>
		<property name="syllabusService" ref="syllabusService"></property>
	</bean>
	<bean id="adminAction" class="com.classcourse.action.AdminAction" scope="prototype">
		<property name="adminService" ref="adminService"></property>
		<property name="teacherService" ref="teacherService"></property>
		<property name="studentService" ref="studentService"></property>
		<property name="syllabusService" ref="syllabusService"></property>
	</bean>
		
	<bean id="loginAction" class="com.classcourse.action.LoginAction" scope="prototype">
		<property name="studentService" ref="studentService"></property>
		<property name="teacherService" ref="teacherService"></property>
	</bean>
 </beans>